{% extends 'base.html.twig' %}

{% block title %}Hello CharacterController!{% endblock %}

{% block body %}
<h1 class="title m-5">Home</h1>


<p class='m-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat omnis accusamus aspernatur quos distinctio sint saepe laudantium. Placeat at sequi doloremque, libero temporibus officia quibusdam, voluptate aliquam architecto pariatur eum?</p>

{% endblock %}
